.container {
  position: sticky;
  top: 0;
  z-index: var(--header-z-index);
  background-color: var(--app-blue-600);
  backdrop-filter: blur(10px);
}

.logo {
  height: 40px;
}

.container ul li a:focus {
  color: var(--app-orange);
}

.container ul li.active {
  color: var(--app-orange);
}

.container ul li a,
.container ul li span {
  font-family: var(--app-secondary-font);
  transition: all 0.1s ease-in-out;
}

.container ul li a:hover {
  color: var(--app-orange);
}

.container .cta {
  border: 2px solid var(--app-orange);
  border-radius: var(--app-border-radius-sm);
}

.register-btn {
  border-bottom: 1px solid #a05f00;
}
