.arrow-button {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #b3c7ff;
  border-radius: 50%;
  z-index: 100;
  transition: 0.3s;
}

.arrow-button:first-of-type {
  left: -50px;
}

.arrow-button:last-of-type {
  right: -50px;
}

.arrow-button:hover {
  transform: scale(0.9);
}

.arrow-button svg * {
  fill: #b3c7ff;
  stroke: #b3c7ff;
}

.display h1 {
  color: var(--app-white);
  font-family: var(--app-secondary-font);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: var(--app-letter-spacing-lg);
  text-transform: uppercase;
}

.display h2 {
  color: var(--app-blue-200);
  font-family: var(--app-secondary-font);
  font-size: 1.9375rem;
  line-height: 2rem;
}

.display p {
  color: var(--app-white);
  font-size: 1.125rem;
  font-weight: 300;
  font-family: var(--app-primary-font);
  line-height: 1.6125rem;
}

.action-button {
  width: 150px;
  height: 50px;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@media screen and (min-width: 768px) {
  .display h1 {
    font-size: 1rem;
  }

  .display h2 {
    font-size: 2.625rem;
    line-height: 2.825rem;
  }

  .display p {
    font-size: 1.175rem;
    line-height: 1.6125rem;
  }
}

@media screen and (min-width: 1200px) {
  .arrow-button {
    width: 80px;
    height: 80px;
  }

  .arrow-button:first-of-type {
    left: -80px;
  }

  .arrow-button:last-of-type {
    right: -80px;
  }
}
