/** @format */

.container,
.container * {
  text-transform: uppercase;
  font-family: var(--app-secondary-font);
  letter-spacing: 4px;
  text-align: center;
  transition: 0s all ease-in-out;

  /* white-space: nowrap; */
}

.close-btn:hover svg {
  fill: var(--app-red);
  stroke: var(--app-white);
}

.close-btn svg {
  transform: scale(0.6);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media screen and (min-width: 1440px) {
  .close-btn {
    position: static;
    top: 0;
    right: 0;
    height: auto;
  }
}
