/** @format */

@tailwindcss /base;

@tailwindcss /components;

@tailwindcss /utilities;

@import url("https://fonts.googleapis.com/css?family=Open Sans:300,400,500,550,600,900");
/* @import url("http://fonts.cdnfonts.com/css/coolvetica-2"); */

@font-face {
  font-family: "Coolvetica";
  src: local("Coolvetica"), url(./fonts/coolvetica_rg.otf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(./fonts/OpenSans-Light-webfont.woff) format("truetype");
}

:root {
  /* Color settings */
  --app-green-200: #00cf8e;
  --app-blue-100: #e5ecff;
  --app-blue-200: #00bdff;
  --app-blue-300: #668eff;
  --app-blue-400: #0043ff;
  --app-blue-450: #00268f;
  --app-blue-500: #001e73;
  --app-blue-600: #11163b;
  --app-blue-800: #00081f;
  --app-black: #000;
  --app-white: #fff;
  --app-gray-100: #f8f8f8;
  --app-gray-400: #cfcfcf;
  --app-gray-600: #9e9e9e;
  --app-pink-100: #d0c4c4;
  --app-orange: #ff9900;
  --app-red: #f84550;
  --app-purple: #764afd;
  /* Font settings */
  --app-primary-font: "Open Sans", helvetica;
  --app-secondary-font: "Coolvetica", sans-serif;
  --app-border-radius-sm: 10px;
  --app-letter-spacing-lg: 0.5rem;
  --app-letter-spacing-md: 0.2rem;
  /* Z-Index settings */
  --header-z-index: 1000;
  --sidebar-z-index: 1500;
  --form-z-index: 2000;
  --overlay-z-index: 2000;
  --modal-z-index: 2000;
  --loader-z-index: 2500;
  --toast-z-index: 2500;
  /* Marquee settings */
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 1s);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--app-primary-font), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* font-weight: 400 !important; */
}

body {
  /* background: var(--app-bg-light); */
  overflow-x: hidden !important;
}

*:not(*:hover, *:hover *) {
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

*:focus {
  transition: 0.1s all ease-in-out;
  outline: 2px dotted;
  outline-color: #000;
  opacity: 1 !important;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.spaced-heading {
  letter-spacing: var(--app-letter-spacing-lg);
  text-transform: uppercase;
  font-family: var(--app-secondary-font);
}

.ticker {
  white-space: nowrap;
}

/* achievement slider slick */
.achievements-button-container {
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.achievements-button-container li {
  width: 10px;
  height: 10px;
  background: var(--app-white);
  border-radius: 50%;
  margin-right: 5px;
}

.achievements-button-container li button {
  opacity: 0 !important;
}

.achievements-button-container .slick-active {
  width: 50px;
  border-radius: 5px;
  background: var(--app-orange);
}

.fix-img-height span,
.fix-img-height div,
.fix-img-height img {
  display: flex;
}

/* #maindiv {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

#div1 {
  position: relative;
  left: 0;
  display: inline-block;
  animation: marquee 10s linear infinite;
  animation-delay: 1s;
}

#div2 {
  display: inline-block;
  animation: marquee2 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(-100%);
  }
} */

.marquee .marquee-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}

.side-nav {
  height: 100vh;
  overflow: hidden auto;
  width: 300px;
  background-color: var(--app-blue-600);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 11;
}

.side-nav ul {
  /* display: none; */
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* margin-top: 50px; */
  right: 0;
  width: 300px;
  overflow: hidden;
}

.side-nav .social-media {
  padding: 25px;
  width: 80%;
}

.side-nav ul li {
  list-style: none;
  cursor: pointer;
  /* border-bottom: 1px solid hsl(242deg 16% 26%); */
  margin-left: -25px;
  margin-right: -25px;
  color: #fff;
}

.side-nav ul li a:not(li:last-child a) {
  display: block;
  padding: 24px;
  font-size: 24px;
}

.side-nav ul li:last-child {
  display: block;
  padding: 24px;
  font-size: 16px;
}

.side-nav ul li:last-child a {
  /* padding: 24px; */
}


.side-nav ul li a:hover {
  color: var(--app-orange);
}

.menu_toggle,
.menu_toggle:focus {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: transparent;
  cursor: pointer;
  /* position: absolute; */
  z-index: 1;
  right: 1.5rem;
  top: 1.4rem;
  padding: 0.5rem;
}

.menu_toggle svg path {
  stroke: #fff;
}

@media screen and (min-width: 576px) {
  .menu_toggle {
    top: 2.7rem;
  }
  .logo {
    top: 2.6rem;
  }
}

.cta {
  border: 2px solid var(--app-orange);
  border-radius: var(--app-border-radius-sm);
}

.Toastify * {
  font-family: var(--app-secondary-font) !important;
  color: var(--app-secondary-font-color) !important;
}