.container {
  position: relative;
}

.container input {
  width: 100%;
  padding: 0px 0px 10px 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--app-pink-100);
  color: var(--app-black);
  border-radius: 0px;
  /* min-height: 46px; */
}

.container label {
  background-color: transparent;
  color: var(--app-pink-100);
  font-size: 30px;
  font-weight: 500;
  font-family: Coolvetica;
  position: relative;
  display: inline-block;
}

.container label.active {
  color: var(--app-blue-400);
}

.container input:focus {
  border-bottom: 1px solid var(--app-blue-400);
}

@media screen and (min-width: 400px) {
  .container input {
    padding: 0px 0px 10px 0px;
  }
}

.container input:focus {
  outline: none;
}

.container.error input {
  border-bottom: 1px solid var(--app-red);
}

.error-message {
  position: absolute;
  margin-top: 3px;
  color: red !important;
  font-size: 0.8rem;
}
