.container {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.container * {
  transition: all 0.3s ease-in-out;
}
/* 
.container .topics span:first-child {
  border: 3px solid var(--app-pink-100);
  padding: 1px;
}

.container .topics span:first-child:active, .container .topics span:first-child:focus {
  border-color: red !important;
} */

.container .topics button {
  width: 34px;
  height: 34px;
  border: 3px solid var(--app-pink-100);
  padding: 2px;
}

.container .topics button:active, .container .topics button:focus {
  border-color: var(--app-blue-200) !important;
}

.container .topics button span {
  width: 100%;
  height: 100%;
}

.container .topics .active button {
  border: 3px solid var(--app-blue-400);
}

.container .topics .active button span {
  background-color: var(--app-blue-400);
}

.container .topics .active div>span {
}

.container .topics div>span {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
}

.container button.submit {
  width: fit-content;
  background-color: var(--app-orange);
  border-radius: var(--app-border-radius-sm);
  color: var(--app-white);
}

.container button.submit svg path {
  fill: var(--app-white);
}
