/** @format */

.container * {
  font-family: var(--app-secondary-font);
  letter-spacing: 0.5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 150px;
  transition: 0.3s all ease-in-out;
  font-size: 16px;
  padding: 12px;
}

.container.primary {
  border-radius: var(--app-border-radius-sm);
  background-color: var(--app-orange);
  color: white;
}

.container:hover,
.container:focus {
  box-shadow: 0px 4px 34px rgba(255, 153, 0, 0.5);
}

.container.primary svg path {
  fill: var(--app-white);
}

.container.secondary {
  border: 2px solid var(--app-orange);
  border-radius: var(--app-border-radius-sm);
}

.container.tertiary {
  color: var(--app-orange);
  border: 2px solid var(--app-orange);
  border-radius: var(--app-border-radius-sm);
}

.container:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
