.container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: calc(var(--toast-z-index) + 1);
  transition: all 0.3s ease-in-out;
}

.container * {
  transition: all 0.3s ease-in-out;
}

.container .modal-body {
  margin: auto;
  background-color: var(--app-white);
  border-radius: var(--app-border-radius-sm);
  width: 100%;
  max-width: 360px;
  margin-top: 0px;
  position: relative;
}

@media screen and (min-width: 640px) {
  .container .modal-body {
    max-width: 450px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .container .modal-body {
    margin-top: 50px;
  }
}
