.container {
  width: 90%;
  height: 350px;
  background: #FFFFFF;
  border-radius: 10px;
}

.container .heading {
  color: var(--app-blue-500);
  font-family: var(--app-primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
}

.container .image-holder img {
  border-radius: 50%;
  border: solid 3px !important;
}

.container:nth-child(odd) .image-holder img {  
  border-color: var(--app-purple) !important;
}

.container:first-child .image-holder img, .container:nth-child(3n+1) .image-holder img {
  border-color: var(--app-blue-400) !important;
}

.container:nth-child(even) .image-holder img {  
  border-color: var(--app-orange) !important;
}

.container p {
  color: var(--app-blue-800);
  font-weight: 300;
  font-size: 14px;
  line-height: 19.07px;
}

.container strong {
  color: var(--app-blue-400);
  font-family: var(--app-secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.container span {
  color: var(--app-gray-400);
  font-weight: normal;
  font-size: 12.95px;
  line-height: 17.64px;
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 768px) {
  .container {
    width: 699px;
    height: 400px;
  }

  .container > div {
    border-left: 1px solid var(--app-blue-400);
  }

  .container .heading {
    font-size: 20px;
    line-height: 27px;
  }

  .container p {
    color: var(--app-blue-800);
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }

  .container strong {
    font-size: 28px;
    line-height: 34px;
  }

  .container span {
    font-size: 16px;
    line-height: 22px;
  }
}
