.container {
  transition: 0.3s;
}

.container img {
  border-radius: 9.375rem;
}

.container h4 {
  color: var(--app-black);
  font-family: var(--app-secondary-font);
  font-size: 1.5rem;
  margin-top: 15px;
}

.container h5 {
  color: var(--app-gray-600);
  font-family: var(--app-primary-font);
  /* font-size: 0.9rem; */
}

@media screen and (min-width: 768px) {
  .container h4 {
    font-size: 1.8rem;
  }

  .container h5 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container h4 {
    font-size: 2rem;
  }

  .container h5 {
    font-size: 1.28rem;
  }
}

@media screen and (min-width: 1280px) {
  .container h4 {
    font-size: 2.25rem;
  }

  .container h5 {
    font-size: 1.375rem;
  }
}
