.container {
  position: relative;
}

.container textarea {
  width: 100%;
  padding: 0px 0px 10px 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--app-pink-100);
  resize: none;
}

.container label {
  background-color: transparent;
  color: var(--app-pink-100);
  font-size: 30px;
  font-weight: 500;
  font-family: Coolvetica;
}

.container .remaining-words {
  background-color: transparent;
  color: var(--app-pink-100);
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
}

.container .words-completed {
  color: var(--app-red);
}

.container label.active {
  color: var(--app-blue-400);
}

.container textarea:focus {
  border-bottom: 1px solid var(--app-blue-400);
}

@media screen and (min-width: 400px) {
  .container textarea {
    padding: 0px 0px 10px 0px;
  }
}

.container textarea:focus {
  outline: none;
}

.container.error textarea {
  border-bottom: 1px solid var(--app-red);
}

.error-message {
  position: absolute;
  margin-top: 3px;
  color: red;
  font-size: 0.8rem;
}
