.container {
  width: 100%;
}

.container * {
  font-family: var(--app-secondary-font);
}

.container .social-section .social-icons svg path {
  fill: var(--app-orange);
}

.container .social-section .social-icons a {
  display: block;
  width: 100%;
}

.container .social-section .social-icons svg {
  transform: scale(3);
  margin-left: auto;
  margin-right: auto;
}

.container .footer-section .social-icons {
  border-top: 1px var(--app-blue-100) solid;
}

.container .footer-section .social-icons svg path {
  fill: var(--app-blue-100);
}

.container .social-heading {
  color: var(--app-blue-400);
  font-family: var(--app-secondary-font);
}

.container .footer-section {
  background: var(--app-blue-800);
  color: var(--app-white);
}

.container .footer-section > div:first-child a {
  text-decoration: underline;
  text-decoration-color: var(--app-blue-100);
  text-decoration-thickness: 0.8px;
  letter-spacing: 0.6px;
}

.container .footer-section > div > div:first-child a {
  /* text-decoration: underline;
  text-decoration-color: var(--app-blue-100);
  text-decoration-thickness: 0.8px;
  letter-spacing: 0.6px; */
}

.container .footer-section .logo svg path {
  fill: var(--app-gray-600);
}

.container .footer-section .links .active a {
  color: var(--app-orange);
}

.container .links a:focus {
  color: var(--app-orange);
}

.container .links a:hover {
  color: var(--app-orange);
}

.container .footer-section .back-to-top button {
  background-color: var(--app-blue-400);
}

.container .footer-section .back-to-top button svg {
  transform: rotate(-90deg);
}

.container .footer-section .back-to-top button svg path {
  fill: var(--app-white);
}

@media screen and (min-width: 768px) {
  .container .social-section {
    border: var(--app-blue-400) 0.6px solid;
    border-right: none;
    border-left: none;
  }

  .container .footer-section .social-icons {
    border-top: none;
  }

  .container .footer-section > div:last-child {
    border-top: 1px var(--app-blue-100) solid;
  }
}

@media screen and (max-width: 1200px) {
  .container .social-section .social-icons svg {
    transform: scale(2);
  }
}

@media screen and (max-width: 768px) {
  .container .social-section .social-icons {
    justify-content: center;
  }

  .container .social-section .social-icons a {
    width: 150px;
  }

  .container .social-section .social-icons svg {
    transform: scale(3);
  }
}

@media screen and (max-width: 425px) {
  .container .social-section .social-icons svg {
    transform: scale(2.5);
  }
}

button.scroll-to-top:focus,
button.scroll-to-top:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgb(0 67 255 / 60%) 0px 0px 100px 0px;
}

.container .footer-section .social-icons a:hover svg path,
.container .footer-section .social-icons a:focus svg path {
  fill: var(--app-orange) !important;
}

.container .footer-section .cool-emoji {
  position: relative;
  bottom: -5px;
}

.container .footer-section .cool-emoji img,
.container .footer-section .cool-emoji span {
  height: 40px !important;
  width: 40px !important;
}

@media screen and (min-width: 1024px) {
  .container .footer-section .cool-emoji img,
  .container .footer-section .cool-emoji span {
    height: 65px !important;
    width: 65px !important;
  }
}
