.container .page-1 {
  background-color: var(--app-blue-600);
  color: var(--app-white);
  overflow-x: hidden;
  position: relative;
}

.container h1 * {
  font-family: var(--app-secondary-font);
}

@media screen and (min-width: 640px) {
  .container h1 {
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .container h1 {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .container h1 {
    max-width: 100%;
  }
}

.container .underlined-text {
  border-bottom: 2px solid var(--app-white);
}

.container .people-svg {
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* right: -165px; */
  /* margin-top: -10px; */
  width: 307px;
  height: 321px;
}

.container .people-svg > span {
  position: relative;
  /* right: 20px; */
  /* margin-top: 20px !important; */
  transform: rotate(18deg);
}

@media screen and (min-width: 640px) {
  .container .people-svg > span {
    right: 40px;
    margin-top: 20px !important;
    transform: rotate(0deg);
    transform: scale(1.2);
  }
}

@media screen and (min-width: 768px) {
  .container .people-svg > span {
    position: relative;
    right: 70px;
    margin-top: 60px !important;
    transform: scale(1.5);
  }
}
@media screen and (min-width: 1024px) {
  .container .people-svg {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 25px;
  }
  .container .people-svg > span {
    position: absolute;
    right: 110px;
    margin-top: 20px;
    transform: scale(1.6);
  }
  .container .circle-banner {
    position: relative;
    z-index: 0;
    bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .container .people-svg > span {
    position: absolute;
    right: 60px;
    margin-top: 130px !important;
    transform: scale(2);
  }
}

@media screen and (min-width: 1440px) {
  .container .circle-banner {
    position: relative;
    bottom: 180px;
  }
  .container .people-svg > span {
    position: absolute;
    right: 20px;
    margin-top: 140px !important ;
  }
}

@media screen and (min-width: 1536px) {
  .container .people-svg > span {
    transform: scale(2.2);
  }
}

@media screen and (min-width: 1800px) {
  .container .people-svg > span {
    position: absolute;
    right: -80px;
    margin-top: 140px !important ;
    transform: scale(2.2);
  }
}

@media screen and (min-width: 2160px) {
  .container .people-svg {
    justify-content: flex-end;
  }
  .container .people-svg > span {
    position: static;
  }
}

.video-container > div {
  height: 250px;
}

@media screen and (min-width: 768px) {
  .video-container > div {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .video-container > div {
    position: relative;
    top: -100px;
    height: 700px;
  }
}

.container .partners img {
  min-height: 70px;
  object-fit: contain !important;
  min-width: 140px;
  /* filter: grayscale(100%); */
}

@media screen and (min-width: 1440px) {
  .container .partners img {
    min-height: auto;
    object-fit: contain !important;
    min-width: auto;
  }
}

@media screen and (min-width: 768px) {
  .container .what-we-offer .glowing-ellipse {
    content: "";
    position: absolute;
    top: 120px;
    right: 180px;
    width: 100px;
    height: 100px;
    background: #ff9900;
    filter: blur(202px);
    border-radius: 100%;
    box-shadow: 42px 10px 128px 115px rgb(255 153 0 / 90%);
  }
}

.container .offer-card {
  font-family: var(--app-secondary-font);
  color: var(--app-white);
  outline: 1px solid var(--app-blue-300);
  border-radius: 10px;
}

.offer-card.active {
  cursor: pointer;
  background-color: var(--app-blue-400);
  outline: none;
  box-shadow: rgba(0, 67, 255, 0.6) 0px 0px 100px 0px;
}

.offer-card:nth-child(1) img,
.offer-card:nth-child(3) img {
  min-width: 160px;
  min-height: 138px;
}

.offer-card:nth-child(2) img,
.offer-card:nth-child(4) img {
  min-width: 161px;
  min-height: 161px;
}
