.container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--modal-z-index);
  transition: all 0.3s ease-in-out;
}

.container * {
  transition: all 0.3s ease-in-out;
}

.container .modal-body {
  margin: auto;
  background-color: var(--app-white);
  border-radius: var(--app-border-radius-sm);
  width: 100%;
  max-width: 360px;
  margin-top: -70px;
  position: relative;
}

@media screen and (min-width: 640px) {
  .container .modal-body {
    max-width: 450px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .container .modal-body {
    margin-top: 50px;
  }
}

.registration-btn {
  max-width: 100%;
}

.registration-btn button {
  font-size: 16px;
  padding: 12px;
}

@media screen and (min-width: 640px) {
  .registration-btn {
    max-width: 450px;
  }
}

.smaller-inputs label {
  font-size: 20px;
  font-weight: 500;
}
.smaller-inputs input {
  /* border-bottom: 1px solid var(--app-grey); */
}

.ticket-label {
  color: var(--app-orange);
  letter-spacing: var(--app-letter-spacing-lg);
  font-family: var(--app-secondary-font);
  text-transform: uppercase;
}
