.container .checkbox {
  width: 34px;
  height: 34px;
  border: 3px solid var(--app-pink-100);
  padding: 2px;
}

.container:active .checkbox,
.container:focus .checkbox {
  border-color: var(--app-blue-200) !important;
}

.container .checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.container.active .checkbox {
  border: 3px solid var(--app-blue-400);
}

.container.active .checkbox::after {
  background-color: var(--app-blue-400);
}

.container span {
  font-family: var(--app-secondary-font);
  font-style: normal;
  font-weight: normal;
  color: var(--app-black);
}
