.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container svg:first-child {
  animation: rotation 10s linear infinite;
}

.container svg:nth-child(2) {
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
