.container iframe {
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.loader-body {
  width: 100%;
  height: 100%;
  background: var(--app-black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader-body span {
  height: 100% !important;
  width: 100% !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loader-circle {
  display: none;
  position: absolute;
  margin: auto;
  width: 118px !important;
  height: 118px !important;
  border: 4px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 100%;
  animation: load-animate infinite linear 0.5s;
}

.loader-circle.loading {
  display: block;
}

.icon-container {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  width: 110px !important;
  height: 110px !important;
  border-radius: 100%;
}
.icon-container:focus svg path,
.icon-container:hover svg path {
  fill: var(--app-orange);
}

.loader-circle svg {
  position: absolute;
}

@keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}
